{% extends "bootstrap/base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron" style="background-color:#8429d8 !important;">
    <center><h2 style="color:#fff;">Gender </h2> </center>
  </div>
</div>

<div class="container panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#8429d8 ">Gender Classifier</div>
      <div class="panel-body">     
      	<form action="{{ url_for('predict')}}" method="POST">
			<input type="text" name="namequery" required>
			<button type="submit" class="btn btn-primary">Predict</button>
			</form>

      </div>
    </div>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

